* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}
#app{
  min-height: 100%;  

  display: grid;
  grid-template-rows: auto 1fr auto;
}
a {
  text-decoration: none;
}
.content {
  width: 620px;
  margin: 0 auto;
  padding-top: 36px;
}
button:focus{
  outline: none !important;
}

@media (max-width: 1350px) {
  .content {
    width: 620px;
  }
}
@media (max-width: 1050px) {
  .content {
    width: 620px;
  }
}
@media (max-width: 780px) {
  .content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 520px) {
  * {
    font-size: 15px;
  }
}
